body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.layout-header {
    position: fixed;
    height: 110px;
    background-color: #be2029;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-top: 0px;
}

footer {
    position: fixed;
    height: 75px;
    background-color: #565656;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

/*#tafelogo {
    height: 70px;
    padding: 20px;
}*/

.footertext {
    color: white;
    padding-left: 10px;
<<<<<<< Updated upstream
=======
    padding-top: 15px;
}

.studentsearch {
    padding-top: 40px;
    padding-bottom: 40px;
}

.searchbuttons {
    background-color: #be2029;
    color: white;
    transition: 500ms ease-in-out;
}

.searchbuttons:hover {
    background-color: #ee2731;
    color: white;
}

.searchbuttons:focus{
    color:white;
>>>>>>> Stashed changes
}